<div class="steps-container">
    <div class="row">
        <div class="col-md-3">
            <div class="step-box">
                <div class="step-num">1</div>
                <h4>Bir araç seçin</h4>
                <p>Her ihtiyaca, zevke ve varış noktasına uygun olarak tasarlanmış geniş araç filomuzla benzersiz maceraların ve unutulmaz yolculukların kilidini açın..</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="step-box">
                <div class="step-num">2</div>
                <h4>Konum ve tarih seçin</h4>
                <p>İdeal konumunuzu ve tarihinizi seçin, biz de sizi rahatlık, esneklik ve unutulmaz deneyimlerle dolu bir yolculuğa çıkaralım..</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="step-box">
                <div class="step-num">3</div>
                <h4>Rezervasyon yapın</h4>
                <p>Rezervasyonunuzu kolaylıkla güvence altına alın, olasılıklar dünyasının kapılarını açın ve bir sonraki maceranıza güvenle başlayın..</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="step-box">
                <div class="step-num">4</div>
                <h4>Arkanıza yaslanın ve rahatlayın</h4>
                <p>Her ayrıntıyla biz ilgilendiğimiz için, zahmetsiz bir kolaylık sunuyoruz; böylece siz rahatlayabilir ve konfor dolu bir yolculuğun tadını çıkarabilirsiniz.</p>
            </div>
        </div>
    </div>
</div>