<div class="item_filter_group">
    <h4>Car Seats</h4>
    <div class="de_form">
        <div class="de_checkbox">
            <input id="car_seat_1" name="car_seat_1" type="checkbox" value="car_seat_1">
            <label for="car_seat_1">2 seats</label>
        </div>

        <div class="de_checkbox">
            <input id="car_seat_2" name="car_seat_2" type="checkbox" value="car_seat_2">
            <label for="car_seat_2">4 seats</label>
        </div>

        <div class="de_checkbox">
            <input id="car_seat_3" name="car_seat_3" type="checkbox" value="car_seat_3">
            <label for="car_seat_3">6 seats</label>
        </div>

        <div class="de_checkbox">
            <input id="car_seat_4" name="car_seat_4" type="checkbox" value="car_seat_4">
            <label for="car_seat_4">6+ seats</label>
        </div>

    </div>
</div>
