@{
	Layout = null;
}

<!DOCTYPE html>

<html lang="zxx">

	@await Component.InvokeAsync("_DefaultHeadComponentPartial")

<body onload="initialize()">

	<div id="wrapper">

		@await Component.InvokeAsync("_DefaultNavbarComponentPartial")

		<div class="no-bottom no-top" id="content">

			<div id="top"></div>

			@await Component.InvokeAsync("_DefaultHeroComponentPartial")

			@await Component.InvokeAsync("_DefaultBrandComponentPartial")

			@await Component.InvokeAsync("_DefaultOurFeatureComponentPartial")

			@await Component.InvokeAsync("_DefaultStatisticComponentPartial")
			
			@await Component.InvokeAsync("_DefaultCarComponentPartial")	

			@await Component.InvokeAsync("_DefaultServiceComponentPartial")	

			@await Component.InvokeAsync("_DefaultBlogComponentPartial")	

			@await Component.InvokeAsync("_DefaultTestimonialComponentPartial")	

			@await Component.InvokeAsync("_DefaultFAQComponentPartial")	

			@await Component.InvokeAsync("_DefaultCallUsNowComponentPartial")

		</div>

		@await Component.InvokeAsync("_DefaultFooterComponentPartial")

		@await Component.InvokeAsync("_DefaultScriptComponentPartial")

	</div>

</body>

</html>