<div class="item_filter_group">
    <h4>Vehicle Type</h4>
    <div class="de_form">
        <div class="de_checkbox">
            <input id="vehicle_type_1" name="vehicle_type_1" type="checkbox" value="vehicle_type_1">
            <label for="vehicle_type_1">Car</label>
        </div>

        <div class="de_checkbox">
            <input id="vehicle_type_2" name="vehicle_type_2" type="checkbox" value="vehicle_type_2">
            <label for="vehicle_type_2">Van</label>
        </div>

        <div class="de_checkbox">
            <input id="vehicle_type_3" name="vehicle_type_3" type="checkbox" value="vehicle_type_3">
            <label for="vehicle_type_3">Minibus</label>
        </div>

        <div class="de_checkbox">
            <input id="vehicle_type_4" name="vehicle_type_4" type="checkbox" value="vehicle_type_4">
            <label for="vehicle_type_4">Prestige</label>
        </div>

    </div>
</div>
